<!doctype html>
<html lang="en">
  <head>
    <!-- Required metadata tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="b3db: Bad Basic Block Database. Finds code reuse in binaries on basic block level.">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>b3db: Bad Basic Block Database</title>
  </head>
  <body>
    <div class="container">
      <h1>b3db: Bad Basic Block Database</h1>
      <p>Finds code reuse in binaries on basic block level.</p>
     <!-- HTML provided in the following sections goes here. -->
	<ul>
	<li><a href="samples">Samples</a></li>
	<li><a href="sample">Sample</a></li>
	<li><a href="upload">Upload</a></li>
	</ul>
     <!-- End -->
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type = "text/javascript" src ="static/scripts/main.js"></script>
  </body>
</html>
