<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="b3db: Bad Basic Block Database. Finds code reuse in binaries on basic block level.">
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.4.1-dist/css/bootstrap.css') }}">

	<link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">

	{% block head %}{% endblock %}
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<span class="navbar-brand">b3db.threaTRack</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="ref">References</a></li>
				<li class="nav-item"><a class="nav-link" href="samples">Samples</a></li>
				<li class="nav-item"><a class="nav-link" href="upload">Upload</a></li>
				<li class="nav-item"><a class="nav-link" href="log">Log</a></li>
			</ul>
			<form class="form-inline my-2 my-lg-0" action="sample">
			<input class="form-control mr-sm-2" type="text" id="search" name="h" placeholder="Search SHA256..." aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>

	<div class="jumbotron">
	<main role="main" class="container">
	{% block main %}{% endblock %}
	</main>
	</div>

	<script src="{{ url_for('static', filename='jquery-3.4.1-dist/js/jquery-3.4.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/bootstrap.js') }}"></script>
</body>
</html>

