{% extends 'base.html' %}

{% block head %}
	<title>b3db: Bad Basic Block Database</title>
{% endblock %}
      
{% block main %}
	<h5>{{ sample }}</h5>
	<table class="table table-bordered table-hover">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Software</th>
			<th scope="col">Shared code / data</th>
		</tr>
	</thead>
	<tbody>
	{% for entry in entries %}
		<tr>
			<td>{{ entry.names|safe }}</td>
			<td><pre>{{ entry.rep|safe }}</pre></td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
{% endblock %}

